# .gitignore

__pycache__/
*.py[cod]
*.swp
*.drawio
**.pt

# Potentially Large Files
data/raw/*
data/processed/*
checkpoint/*

# Other irrelevant entities
unit_test
commit-msg.md

# Exclusion
!**/.gitkeep
